.container > img {
    width: 20vw;
    height: 25vh;
}

.container > :first-child{
    position: relative;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display__chart {
    width: 100%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
}

.display {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}
.display > img {
    margin-left: auto;
    height: 20rem;
}

.display__main {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}
.display__main > span {
    font-size: 3rem;
}
.display__main > img {
    width: 40rem;
    height: 20rem;
}

.display__info {
    text-transform: capitalize;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.display__info > span {
    font-weight: 700;
    margin-top: .5rem;
    font-size: 1.8rem;
}
