.container > img {
    width: 20vw;
    height: 25vh;
}

.container > :first-child{
    position: relative;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country__chart {
    width: 100%;
    max-width: 100rem;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
}

.country {
    display: flex;
}
