{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}

<span id="dataSpan" style="display: none">{{data}}</span>
<span id="titleSpan" style="display: none">{{title}}</span>
<p><button id="bar">Bar</button><button id="pie">Pie</button></p>
<div style="position: relative; max-height:500px; width:1000px">
        <canvas id="chart"></canvas>
</div>

<script src='{% static "js/jquery-3.4.1.min.js" %}'></script>
<script src='{% static "js/teste-chart.js" %}'></script>

{% endblock %}